
<%= form_with(url: '/flights', method: :get, class: 'form-container') do |form| %>
  <%= form.label :departure_airport_id, 'Departure Airport', class: 'form-label' %>
  <%= form.select :departure_airport_id, options_from_collection_for_select(@airports, 'id', 'code'), class: 'form-select' %>

  <%= form.label :arrival_airport_id, 'Arrival Airport', class: 'form-label' %>
  <%= form.select :arrival_airport_id, options_from_collection_for_select(@airports, 'id', 'code'), class: 'form-select' %>

  <%= form.label :passenger_count, 'Number of Passengers', class: 'form-label' %>
  <%= form.select :passenger_count, options_for_select([1, 2, 3, 4]), class: 'form-select' %>

  <%= form.label :flight_date, 'Flight Date', class: 'form-label' %>
  <%= form.select :flight_date, options_from_collection_for_select(@available_dates, :to_s, :to_s), class: 'form-select' %>
  <%= form.submit 'Search Flights', class: 'form-submit' %>
<% end %>


<h1>Available Flights</h1>

<table>
  <thead>
    <tr>
      <th>Departure Airport</th>
      <th>Arrival Airport</th>
      <th>Start Datetime</th>
      <th>Flight Duration</th>
      <th>Booking</th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.departure_airport.code %></td>
        <td><%= flight.arrival_airport.code %></td>
        <td><%= flight.start_datetime.strftime('%B %e, %Y %I:%M %p') %></td>
        <td><%= flight.duration %> hours</td>
       <td><%= link_to "Book Now", new_booking_path(flight_id: flight.id), class: "book-now-button" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
