<h1>Available Flights</h1>

<table>
  <thead>
    <tr>
      <th>Departure Airport</th>
      <th>Arrival Airport</th>
      <th>Start Datetime</th>
      <th>Flight Duration</th>
      <th>Booking</th>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.departure_airport.code %></td>
        <td><%= flight.arrival_airport.code %></td>
        <td><%= flight.start_datetime.strftime('%B %e, %Y %I:%M %p') %></td>
        <td><%= flight.duration %> hours</td>
        <td><%= link_to "Book Now", new_booking_path(flight_id: flight.id), class: "book-now-button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
